main {
    background-color: rgba(0,0,0,.4);
    padding: 10px 60px 150px 60px;
    border-radius: 30px;
    margin: 25px;
}

img.myPic {
    border: 0px solid darkgrey;
    border-radius: 30px;
    width: 150px; 
    height: 150px;
    box-shadow: 10px 10px 10px #3c3c3c;
    position: relative;
    top: 40px;
    left: 70px;
}

.name {
    font-size: 2em;
    width: 60%;
    position:relative;
    left: 180px;
/*    top: 20px;*/
    text-shadow: 10px 10px 10px #3c3c3c;
    z-index: 2;
    display: inline-block;
}

body {
    font-family: Times New Roman, Calibri, Helvettica, Arial, sans-serif;
    
    background-color: #b0c4de;
    background-image: url("images/yard.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;     /* " 0 auto" centers objects */
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.infoBar {
    padding: 5px 20px 5px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    color: black;
    border-radius: 30px;
/*    border: 1px solid black;*/
    width: 40%;     
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    top: 100px;
}

.infoBar.todo {
    max-width: 300px;
    position: relative;
    top: 10px;
    float: left;  
    margin: 25px;
}

p.todo {
    color: black;
    font-weight: 900;
    font-size: 130%;
    text-decoration: underline;
}

.todo ul {
    list-style-type: none;
    position: relative;
    right: 20px;   /* This should not be needed.*/
}

.infoBar.todoComplete {
    background-color: rgba(9, 240, 9, 0.5);
    float: right;
}

.todoComplete ul {
/*    list-style-type: none;*/
    text-decoration: line-through;
    
}

/* -------------   Begin @media query section ------------ */
@media (max-width: 750px) {
    .name {
        left: 90px;
    }
}

@media (max-width: 600px) {
    .name {
        font-size: 100%;
        left: 50px;
        top: 0px;
        max-width: 30%;
    }
    
/* .name rule causes header area to slightly move down. Find & fix problem.*/
    
    img.myPic {
        left: 30px;
    }
    
    .infoBar.todo {
    float: none;
    min-width: 250px;
    margin: 0 auto;
    margin-top: 20px;
}
    
}